# Ignore temporal folder
road_network/temp/

# Ignore folders
.vscode/
__pycache__/
*.py[cod]

# Ignore files
data/raw/rnc2025.gpkg
data/processed/roads.gpkg
data/processed/unions.gpkg
data/processed/road_network.pkl

# ignore SQLite/GeoPackage temporary files
*.gpkg-shm
*.gpkg-wal
